 /* ============================================= */
  /*              Variables                       */
  /* ============================================= */

   // Colors
  $color-footer: #272727;
  $color-grey: #b2b4c3;
  $color-grey-light: lighten(#b2b4c3, 5%);

  // Typography
 $font-stack-primary: 'Merriweather', serif;